<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gpx2Pic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Gpx2Pic.Properties.Settings>
            <setting name="GpxFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="PicturesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorMargin" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="BackupOriginal" serializeAs="String">
                <value>True</value>
            </setting>
        </Gpx2Pic.Properties.Settings>
    </userSettings>
</configuration>